@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box!important;
}

body{
  font-family: "Poppins", sans-serif!important;
  font-weight: 400!important;
  font-style: normal!important;
  background-color: #ffffff!important;
  font-size: 16px!important;
}
a{
    text-decoration: none!important;
    color: #001d08!important;
}
ul{
  margin: 0!important;
  padding: 0!important;
}
:root{
    --bg-primary : #e92626!important;
    --bg-secondary : #00a455!important;
    --bg-blue : #0245b1!important;
    --bg-black : #000!important;
}
.bg-primary{
    background-color: var(--bg-primary)!important;
}
.bg-orange{
    background-color: var(--bg-primary)!important;
}
.bg-orange-100{
    background-color: #ffd8ca!important;
}

.bg-green{
  background-color: var(--bg-secondary)!important;
}

.bg-blue{
  background-color: var(--bg-blue)!important;
}
.text-orange{
  color:var(--bg-primary)!important;
}
.text-green{
  color:var(--bg-secondary)!important;
}
.text-blue{
  color:var(--bg-blue)!important;
}
.text-gray{
  color: #646464!important;
}


.border-orange{
    border: 1px solid var(--bg-primary)!important;
}
.border-green{
    border: 1px solid var(--bg-secondary)!important;
}
.border-green{
    border: 1px solid var(--bg-blue)!important;
}
.border-black{
    border: 1px solid var(--bg-black)!important;
}

.btn-outline-orange:hover{
  background-color: var(--bg-primary)!important;
  color: white!important;
}
.btn-outline-green:hover{
  background-color: var(--bg-secondary)!important;
  color: white!important;
}
p{
    margin: 0!important;
}
h1,h2,h3,h4,h5,h6{
    margin: 0!important;
}

input[type="file"] {
  display: none;
}



.box {
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Number of lines that fit within the box */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.text{
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.manu ul li a:hover{
  color: var(--bg-primary)!important;
}
.offcanvas{
  width: 300px!important;
}
.offcanvas-body ul li:hover a{
  color: #fff;
} 

.Select{
  background-color: #e92626!important;
}
.stdropdown-container{
  padding: 11.5px 20px;
  background-color: #f3f4f6!important;
  border: 1px solid #dee2e6;
  border-radius: 7px;
  margin-top: 10px;
  position: relative;
  
}
.stdropdown-input input::placeholder{
  color: #6b7280!important;
  font-family: "Poppins", sans-serif!important;
  font-weight: 500!important;
  font-style: normal!important;
  font-size: 15px;
} 
.stdropdown-input input{
 background-color: transparent!important;
 border: none;
 outline: none;
} 
.stdropdown-menu{
  position: absolute!important;
  transform: translateY(15px)!important;
  left: 0;
}

/* slic slider Card  start*/

.wrapper{
  padding: 30px 0;
}
.slick-slide{
  width: 205px!important;
  
}
/* Default slide */
.center-slider .slick-slide{

  color: #FFF;
  height: 300px;
  margin: 0 15px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.8);
  transition: all 0.4s ease-in-out;
}

.center-slider .slick-slide,
.center-slider .slick-slide[aria-hidden="true"]:not(.slick-cloned) ~ .slick-cloned[aria-hidden="true"] {
  transform: scale(0.8, 0.8);
  transition: all 0.4s ease-in-out;
}

/* Active center slide (You can change anything here for cenetr slide)*/
.center-slider .slick-center,
.center-slider .slick-slide[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"] {
  transform: scale(1.1);
  
}
.center-slider .slick-current.slick-active{
  transform: scale(1.1);
 
}

.slick-next, .slick-prev{
  z-index: 5;
}
.slick-next{
  right: -9px;
  top: 150px;
}
.slick-prev{
  left: -15px;
  top: 150px;
}
.slick-next:before, .slick-prev:before{
  color: #00a455;
  font-size: 26px;
}
/* slic slider Card  end*/


/* pfp :checke  */
.checkbox-con {
  margin: 10px;
  display: flex;
  align-items: center;
  color: white;
 }
 
 .checkbox-con input[type="checkbox"] {
  appearance: none;
  width: 48px;
  height: 27px;
  border: 2px solid #ff0000;
  border-radius: 20px;
  background: #f1e1e1;
  position: relative;
  box-sizing: border-box;
 }
 
 .checkbox-con input[type="checkbox"]::before {
  content: "";
  width: 14px;
  height: 14px;
  background: rgba(234, 7, 7, 0.5);
  border: 2px solid #ea0707;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 0;
  transform: translate(13%, 15%);
  transition: all 0.3s ease-in-out;
 }
 
 .checkbox-con input[type="checkbox"]::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.55021 5.84315L17.1568 16.4498L16.4497 17.1569L5.84311 6.55026L6.55021 5.84315Z' fill='%23EA0707' fill-opacity='0.89'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.1567 6.55021L6.55012 17.1568L5.84302 16.4497L16.4496 5.84311L17.1567 6.55021Z' fill='%23EA0707' fill-opacity='0.89'/%3E%3C/svg%3E");
  position: absolute;
  top: 0px;
  left: 20px;
 }
 
 .checkbox-con input[type="checkbox"]:checked {
  border: 2px solid #02c202;
  background: #e2f1e1;
 }
 
 .checkbox-con input[type="checkbox"]:checked::before {
  background: rgba(2, 194, 2, 0.5);
  border: 2px solid #02c202;

  transform: translate(180%, 20%);
  transition: all 0.3s ease-in-out;
 }
 
 
 
 .checkbox-con label {
  margin-left: 10px;
  cursor: pointer;
  user-select: none;
 }
 

 /* card-banners */
.card-banners{
  position: relative;
}
.banner-Btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.card-banners:hover .banner-Btn{
  opacity: 1; 
  transition: all ease-in-out;

}
 /* card-banners end */

